.card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 3px solid transparent;
    height: fit-content;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    }

    &.selected-correct {
        border-color: #4caf50;
        background-color: #f1f8e9;
    }

    &.selected-incorrect {
        border-color: #f44336;
        background-color: #fce4ec;
    }

    &__image-choice {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        place-items: center;
        gap: 10px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.01);
            opacity: 0.8;
        }
    }

    & img {
        transform: scale(1);
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease, opacity 0.5s;
        opacity: 1;
        // aspect-ratio: 16 / 9;

        @starting-style {
            opacity: 0;
            transform: scale(0.6);
        }
    }

    &__description {
        margin: 10px;
        font-size: 14px;
        color: #333;
        text-align: center;
    }

    &__actions {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    &__feedback {
        text-align: center;
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
    }

    &:has(input[type="file"]:hover) {
        box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.2);
    }

    &:has(input[type="file"].filled) {
        padding: unset;
    }
}

.prediction-result {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 12px;
}