.home {
    display: grid;
    gap: var(--grid-gap);
    text-align: left;
    max-width: calc(100% / 2);

    &__call-to-action-button {
        max-width: fit-content;
    }

    p {
        font-size: 1.2rem;
    }
}