.social {
    display: flex;
    gap: 12px;
    justify-content: end;
    padding: 0 10px;

    &__icon {
        width: 24px;
        height: 24px;
        transition: background-color 0.3s ease;

        &:hover {
            fill: red;
            color: var(--color-text-hover);
        }
    }
}